{% extends "base.html" %}

{% block title %}Produtos | MercattoPy{% endblock %}

{% block content %}

<div class="d-flex justify-content-between mb-4">
    <h3>Produtos</h3>

    {% if is_admin %}
        <a href="{% url 'product_create' %}" class="btn btn-primary">
            Novo Produto
        </a>
    {% endif %}
</div>

<table class="table table-hover shadow-sm">
    <thead class="table-dark">
        <tr>
            <th>Produto</th>
            <th>Categoria</th>
            <th>Preço</th>
            <th>Estoque</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.category.name }}</td>
            <td>R$ {{ product.price }}</td>
            <td>{{ product.stock }}</td>

            <td>
                {% if product.is_active %}
                    <span class="badge bg-success">Ativo</span>
                {% else %}
                    <span class="badge bg-danger">Inativo</span>
                {% endif %}
            </td>

            <td>
                <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-outline-primary">
                    Ver
                </a>

                {% if is_admin %}
                    <a href="{% url 'product_update' product.id %}" class="btn btn-sm btn-outline-warning">
                        Editar
                    </a>

                    <a href="{% url 'product_delete' product.id %}" class="btn btn-sm btn-outline-danger">
                        Excluir
                    </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}